@import url("./global.css");
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color--neutral--silver);
}
.logo{
    padding: 30px 0px;
}
.nav-header ul{
    display: flex;
    list-style: none;/* nn quer q tenha a bolinha */
    gap: 50px;
}
.nav-header ul a{
    text-decoration: none; /*serve para tirar o sublinhado */
    color: #18191F;
}
.active{
    font-weight: bold;

}
.btn-header{
    gap: 14px;
    padding: 22px 0px;
}
.btn-login{
    color:var( --color-primary);
    background:none ; /*remove a cor do fundo ou usar transparent*/
    padding: 10px 20px;
    cursor: pointer;
}
.btn-SignUp{
    color: var(--color--neutral--white);
    padding: 10px 20px;
    background-color: var(--color-primary);
    border-radius: 6px;
    cursor: pointer;
}