@import url("./global.css");
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color--neutral--silver);
}
.logo{
    padding: 30px 0px;
}
.nav-header ul{
    display: flex;
    list-style: none;/* nn quer q tenha a bolinha */
    gap: 50px;
}
.nav-header ul a{
    text-decoration: none; /*serve para tirar o sublinhado */
    color: #18191F;
}
.active{
    font-weight: bold;

}
.btn-header{
    gap: 14px;
    padding: 22px 0px;
}
.btn-login{
    color:var( --color-primary);
    background:none ; /*remove a cor do fundo ou usar transparent*/
    padding: 10px 20px;
    cursor: pointer;
}
.btn-SignUp{
    color: var(--color--neutral--white);
    padding: 10px 20px;
    background-color: var(--color-primary);
    border-radius: 6px;
    cursor: pointer;
}
/* ------------ MAIN ------------ */
 
main{
    display: flex;
    background-color: var(--color--neutral--silver);
    align-items: center;
    justify-content: center;
    gap: 104px;
    padding: 96px 0px;
}

.content-lessons{
    width: 657px;
    
}

h1{
    font-size: 64px;
    color: var(--color-neutral-d_grey);
    font-weight: 600;
}

.content-lessons h1 span{
    color: var(--color-primary);
}

.content-lessons p{
    margin-top: 16px;    
}


/* ------------ FIM MAIN ------------ */

/* ------------ OUR CLIENTS ------------ */

.our-client{
    text-align: center;
    margin-top: 40px;
}

.our-client p{
    margin-top: 8px;
}

.logo-clients{
    display: flex;
    justify-content: center;
    gap: 136px;
    padding: 25px 0px;    
    margin-top: 16px;
}

/* ------------ FIM OUR CLIENTS ------------ */

/* ------------ MANAGE SYSTEM ------------ */

.manage-system{
    margin-top: 40px;
    text-align: center;    
}

.manage-system h2{
    width: 542px; /* para nn usar o break usa esse width para seguir a qubra de texto q ta no figma?*/
    margin: 0 auto;   
}
#manage-system-subtitle{
    margin-top: 8px;


}
.cards-container{
    display: flex; /* pra ficar um do lado do outro */
    margin-top: 16px;
    gap: 127.5px; /* é o comprimento do espaçamento que separa as linhas do grid*/
    justify-content: center;
}
.cards-container article{
    width: 299px;
    box-shadow: 0px 2px 4px rgba(171, 190, 209,0.2); /* esse ultimo 4 é referente ao espalhamento da sombra */
    /*clica no quadradinho da cor, clica algumas vezes até focar rgb e dps escreve a e acrescenta a porcentagem do blur"*/
    /*o blur vai de 0 até 1, ent se for 20% , fica 0.2*/
    padding: 24px 16px;
    text-align: center;
    border-radius: 8px;
    transition: 0.5s;
}
.cards-container article:hover{
    box-shadow:  0px 8px 14px rgba(171, 190, 209,0.5);
    transform: translateY(-8px);
}
.cards-container img{
    width: 65px;
    height: 56px;
}
.cards-container h3{
    color:var(--color-neutral-d_grey);
    font-size: 28px;
    margin-bottom: 8px;
    width: 231px;
    margin: 0 auto;/* para centralizar uma largura especifica já que nn usamos um justify content e nme usamos display flex */
    /* auto de maneira automaticamente, msm distancia na esquerda e na direita */
    /*margin 0 auto para quando usamos uma largura especifica(width) */


}
.cards-container p{
    margin-top: 8px;
    font-size: 14px;
    line-height: 1.6;
}
/* ------------------------------------PIXELGRADE-------------------------------------------*/
.section-pixelgrade{
    display: flex;
    margin-top: 42px;
    gap: 49px;
    justify-content: center;
    padding: 52px;
    
}
.pixelgrade-container{
    margin-top: 82.5px;
    width: 661px;
    
}
.pixelgrade-container h2{
    font-size: 36px;
    margin-bottom: 16px;
    width: 570px;

}
.pixelgrade-container p{
    width: 601px;
    font-size: 14px;
    color:var(--color-neutral-d_grey);
}
.pixelgrade-container button{
    margin-top: 32px;
    color: var(--color--neutral--white);
    padding: 10px 20px;
    background-color: var(--color-primary);
    border-radius: 4px;
    cursor: pointer;
}
/* ------------ FIM MANAGE SYSTEM ------------ */

/* INICIO HELPING LOCAL */

.helping-local{
    display: flex;
    justify-content: center;
    margin: 48px 0px;
    background-color:var(--color--neutral--silver);
    align-items: center;
    gap:72px;
}
.helping-local-container h2{
    width: 390px;
}
.helping-local-container h2 span{
    color: var(--color-primary);
}
.helping-local-container p{
    margin-top: 8px;
    color: #18191F;
}
.helping-statisc{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
}
.helping-itens{
    display: flex;
}